*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
    color: #fff;
}
html,body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    cursor: none;
}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: whitesmoke;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
    z-index: 8;
}
#main{
    background-color: #0F0F0F;
}
#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    border-bottom: 2px solid white;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 99;
}
#purple{
    height: 100vh;
    width: 100vw;
    background-color: plum;
    position: fixed;
    z-index: 98;
    top: 0;
    opacity: 0;
    padding-top: 18%;
}
#image img{
    height: 30px;
}
#nav-part2{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#nav h4{
    font-size: 16px;
    font-weight: 800;
}
#nav h4:nth-child(1){
    border-bottom: 2px solid white;
}
#nav #circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
}
#page1{
    height: 160vh;
    width: 100%;
    padding: 0 30px;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}
#page1>h1{
    font-size: 7vw;
    font-weight: 700;
    margin-left: 6vw;
    text-transform: uppercase;
}
#page1>h2{
    font-size: 7vw;
    font-weight: 700;
    margin-left: 22vw;
    text-transform: uppercase;
}
#page1 video{
    width: 60vw;
    height: 60vh;
    position: relative;
    left: 50%;
    margin-top: 5vw;
    margin-bottom: 15vw;
    transform: translate(-50%,0);
}

#page2{
    min-height: 105vh;
    width: 100%;
    padding: 100px 2vw;
    border-bottom: 2px solid black;
    position: relative;
    z-index: 9;
}
#page2>h1{
    font-size: 7vw;
    font-weight: 500;
    color: black;
}
#page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 7vw;
    margin-top: 28px;
}
#page2-left{
    width: 40%;
}
#page2-left h1{
    font-size: 4vw;
    font-weight: 200;
    color: black;
}
#page2-right{
    width: 35%;
    height: 80%;
    padding: 0 0;
}
#page2-right>p{
    font-size: 25px;
    color: black;
}
#page2-right>button{
    background-color:rgb(190, 132, 247);
    border-radius: 15px;
    width: 100%;
    border: none;
    padding: 4px 0;
    margin-top: 20px;
}
#page3{
    height: 130vh;
    width: 100%;
    position: relative;
    z-index: 9;
}
#page3>h1{
    font-size: 5vw;
    font-weight: 500;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}
#first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#first>img{
    height: 450px;
    width: 400px;
    top: 20%;
    left: 7%;
    margin-left: 100px;
    margin-top: 30vh;
}
#image2>img{
    height: 350px;
    width: 350px;
    right: 7%;
    margin-right: 10vw;
    margin-bottom: 30px;
}
#page4{
    height: 110vh;
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 9;
}
#second{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#second>img{
    height: 450px;
    width: 400px;
    top: 20%;
    left: 7%;
    margin-left: 135px;
    margin-top: 8vh;
}
#image4>img{
    height: 350px;
    width: 350px;
    right: 7%;
    margin-right: 5vw;
    margin-bottom: 30vh;
}
#page5{
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 5%;
    border-bottom: 2px solid white;
}
#elem{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
#elem>img{
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
#elem img:nth-child(1){
    left: 5%;
    height: 240px;
    width: 290px;
}
#elem img:nth-child(3){
    right: 7%;
    height: 350px;
    width: 270px;
}
#text-div{
    height: 70px;
    overflow: hidden;
}
#elem h1{
    font-size: 60px;
    font-weight: 700;
    transition: all ease-in-out 0.5s;
}
#elem:hover h1{
    transform: translateY(-100%);
    color: rgb(190, 132, 247);;
}
#elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}
#elem2{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
#elem2>img{
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
#elem2 img:nth-child(1){
    left: 5%;
    height: 240px;
    width: 290px;
}
#elem2 img:nth-child(3){
    right: 7%;
    height: 350px;
    width: 270px;
}
#text-div2{
    
    height: 70px;
    overflow: hidden;
}
#elem2 h1{
    font-size: 60px;
    font-weight: 700;
    transition: all ease-in-out 0.5s;
}
#elem2:hover h1{
    transform: translateY(-100%);
    color: rgb(190, 132, 247);;
}
#elem2:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}
#elem3{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
#elem3>img{
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
#elem3 img:nth-child(1){
    left: 5%;
    height: 240px;
    width: 290px;
}
#elem3 img:nth-child(3){
    right: 7%;
    height: 350px;
    width: 270px;
}
#text-div3{
    
    height: 70px;
    overflow: hidden;
}
#elem3 h1{
    font-size: 60px;
    font-weight: 700;
    transition: all ease-in-out 0.5s;
}
#elem3:hover h1{
    transform: translateY(-100%);
    color: rgb(190, 132, 247);;
}
#elem3:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}
#page6{
    height: 100vh;
    width: 100%;
    background-color: #0F0F0F;
    padding: 80px 60px;
}
#page6 h2{
    font-size: 50px;
    font-weight: 800;
}
#page6 h3{
    font-size: 15px;
    font-weight: 300;
    opacity: 0.5;
}
#page6 h4{
    opacity: 0.5;
}
#box{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 2px solid white;
}
#box:nth-last-child(1){
    border-bottom: 2px solid white;
}
footer{
    height: 100vh;
    width: 100%;
    background-color: plum;
    padding: 25vh 6vw;
    justify-content: space-between;
    gap: 80px;
    z-index: 15;
}
#footer1{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 50vh;
}
#footer1 h1{
    color: #0F0F0F;
    font-size: 80px;
    font-weight: 500;
    opacity: 1;
}
#circle2{
    width: 120px;
    height: 120px;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle2 h6{
    color: #0F0F0F;
}
#footer2 h5{
    color: #0F0F0F;
    font-size: medium;
}
#purple1{
    font-size: 90px;
    font-weight: 500;
    color: #0F0F0F;
}

